.table-responsive th,
.table-responsive td {
  border: 1px solid black !important;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
}

th,
td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

thead th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

tbody td {
  color: #555;
}

.rostertable-header {
  text-align: center;
}

/* Hide the sort icons in table headers */
.table-responsive th::after {
  display: none !important;
}

@media print {
  #hideBtn {
    display: none;
  }

  .rostertable-header {
    text-align: center !important;
    margin-bottom: 10px;
  }

  table {
    border-collapse: collapse;
  }

  table,
  th,
  td {
    border: 1px solid black;
  }

  table th:first-child,
  table td:first-child {
    width: 100px;
  }
}
