.table td{
    border: #030303 solid 1px !important;
    padding: 2px;
    font-size: 11px;
	}
	.table th{
    border: #030303 solid 1px !important;
	}
   
    
    @media all {
        .pagebreak {
          display: block;
        }
      }
      
      @media print {
        html,
        body {
          height: initial !important;
          overflow: initial !important;
          -webkit-print-color-adjust: exact;
        }
      }
      
      @media print {
        .pagebreak {
          margin-top: 1rem;
          display: block;
          page-break-after: always;
        }
      }
      
      @page {
        size: auto;
        margin: 20mm;
      }